{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Приемная комиссия{% endblock %} </title>
    <link rel="stylesheet" href="{% static 'sidebars.css' %} ">
</head>
<body>
<div class="container">
    <nav>
        <div class="nav-links">
            <a href="{% url 'Applicants_list' %}">Главная</a>
        </div>
        <a href="{% url 'ApplicantAdd' %}" class="btn-primary">Добавить</a>
    </nav>

</div>
{% block content %} {% endblock %}
</body>
</html>